@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --mainPurple: #9356EA;
  --secondaryPurple : #701AE8;
  --pink : #B31AE8;
  --blue : #1A49E8;
  --darkBlue : #190E8F;
  --pinkChock: #E81ACD;

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --mainPurple : var(--mainPurple);
  --secundaryPurple : var(--secundaryPurple);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
